# Research notebook

Exploring the data and trying to find some interesting insights.

In [2]:
#Import basic libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # plot diagrams and charts
from pathlib import Path # to handle paths

## Look how exactly the data is structured

In [6]:
# Define the data path
ROOT_DATA_DIR = Path("../../data")
TRAIN_PATH = ROOT_DATA_DIR / "train.csv"
VALID_PATH = ROOT_DATA_DIR / "valid.csv"
TEST_PATH = ROOT_DATA_DIR / "test.csv"
train_df = pd.read_csv(TRAIN_PATH)
valid_df = pd.read_csv(VALID_PATH)
test_df = pd.read_csv(TEST_PATH)

In [7]:
train_df.head()

,id,keyword,location,text,target
0,6568,injury,"Plano, Texas",'McFadden Reportedly to Test Hamstring Thursda...,0
1,4107,drought,Nigeria,w--=-=-=-[ NEMA warns Nigerians to prepare for...,1
2,4448,electrocuted,NaN,When I was cooking earlier I got electrocuted ...,0
3,5330,fire,Canada,I'm On Fire. http://t.co/WATsmxYTVa,0
4,7552,outbreak,Indonesia,More than 40 families affected by the fatal ou...,1

In [8]:
valid_df.head()

,id,keyword,location,text,target
0,3796,destruction,NaN,So you have a new weapon that can cause un-ima...,1
1,3185,deluge,NaN,The f$&amp;@ing things I do for #GISHWHES Just...,0
2,7769,police,UK,DT @georgegalloway: RT @Galloway4Mayor: ÛÏThe...,1
3,191,aftershock,NaN,Aftershock back to school kick off was great. ...,0
4,9810,trauma,"Montgomery County, MD",in response to trauma Children of Addicts deve...,0

In [9]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6851 entries, 0 to 6850
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        6851 non-null   int64
 1   keyword   6795 non-null   object
 2   location  4587 non-null   object
 3   text      6851 non-null   object
 4   target    6851 non-null   int64
dtypes: int64(2), object(3)
memory usage: 267.7+ KB

In [12]:
valid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        762 non-null    int64
 1   keyword   757 non-null    object
 2   location  493 non-null    object
 3   text      762 non-null    object
 4   target    762 non-null    int64
dtypes: int64(2), object(3)
memory usage: 29.9+ KB

In [13]:
train_df.describe()

                 id       target
count   6851.000000  6851.000000
mean    5441.738870     0.428405
std     3129.847531     0.494884
min        1.000000     0.000000
25%     2733.500000     0.000000
50%     5417.000000     0.000000
75%     8139.500000     1.000000
max    10872.000000     1.000000

In [14]:
valid_df.describe()

                 id      target
count    762.000000  762.000000
mean    5443.696850    0.440945
std     3203.818384    0.496826
min       28.000000    0.000000
25%     2744.250000    0.000000
50%     5353.500000    0.000000
75%     8215.750000    1.000000
max    10873.000000    1.000000